.container {
  color: rgb(250, 134, 99);
}
.container a span {
  font-family: "Lobster Two", cursive;
  color: rgb(250, 134, 99);
  font-size: 35px;
}
.container nav a {
  font-size: 18px;
  color: rgb(250, 134, 99);
  font-family: "Yusei Magic", sans-serif;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.my-carousel {
  margin-top: 0px;
}
.box-clearfix {
  align-items: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
